src/main/mule/timezoncicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a6e43d90-72ea-40ac-9fd1-0a9f2824d1ca" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="945217e7-4cbf-4b5f-8906-b7528261c92a" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="timezoncicdFlow" doc:id="1eb6be5c-7562-4f3e-aa82-2acb44530e89" >
		<http:listener doc:name="Listener" doc:id="b8247372-0135-4dde-9fb0-23a718ff001a" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="272fe914-1276-4316-965a-e1bfbe4e2e27" config-ref="HTTP_Request_configuration" path="/{region}/{city}" sendCorrelationId="ALWAYS">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.urlParams.city,
	region : attributes.urlParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
